// .nav {
//     background-color: steelblue;

//     a {
//         background-color: #000;

//     }

// }

$selector: '.nav';

#{$selector} {
// .nav{

    background-color: steelblue;

    &__container {
        background-color: red;
        width: 90%;
        margin: 0 auto;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;


    }

    &__item {
        &:hover {
            background-color: black;
        }
    }

    @media (min-width:764px) {
        &__container {
            justify-content: flex-end;
        }
    }

}